.scroll-top{

position:fixed;

bottom:90px;
right:30px;

width:45px;
height:45px;

border:none;

border-radius:50%;

background:#0C96E2;

color:white;

display:flex;
justify-content:center;
align-items:center;

font-size:22px;

cursor:pointer;

opacity:0;

pointer-events:none;

transition:0.3s;

z-index:999;

}

/* when visible */

.scroll-top.show{

opacity:1;

pointer-events:auto;

}

/* hover */

.scroll-top:hover{

transform:scale(1.1);

}

/* dark mode */

body.dark .scroll-top{

background:#0C96E2;
color:white;

}